.register-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: white;
    font-family: monospace;
    margin-top: 20px;

    .register-title{
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color:black;
        font-family: monospace;
    }

   
    .input-container{
        flex-direction: column;

        .input-couple-anni{
            margin-bottom: 10px;
            margin-right: 30px;
            font-size: 14px;
        }
        .input-couple-space-name{
            margin-top: 15px;
            margin-bottom: 10px;
            margin-right: 30px;
            font-size: 14px;
        }

        .input-couple-space-name-person{
            margin-bottom: 10px;
            margin-right: 170px;
            font-size: 14px;
        }

        .input-general{
            border-radius: 10px;
            padding: 7px;
            padding-right: 100px;
            margin-bottom: 20px;
        }

        .input-general-error{
            margin-right: 180px;
            margin-top: -15px;
            color: darkred;
        }
    }
}