
body, html {
    height: 100%;
    background-color: white;
  }
  
  div#root {
    //height: 100%; /* remove this line to see div.app is no more 100% height */
    background-color: white;
    min-width:auto;
  }
  
  div.app {
    height: 100%;
    background-color: white;
  }
  
  .space-container{
    margin-top:180px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-bottom: 100px;
    font-family: monospace;
    color:black;
    
    .space-name-new{
      font-size: 20px;
      font-weight: 900;
      margin-top: 20px;
      margin-bottom: 10px;
      color: black;
    }
  
    .imageIcon{
      width:200px;
      height:200px;
    }
    
    .space-title{
      font-size:45px;
      font-family:monospace;
      margin-top:10px;
      margin-bottom:30px;
      font-weight:700;
      color:black;
      font-size: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .space-refresh{
      display:flex;
      flex-direction: row;
      justify-content: center;
    }


    .space-welcome{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
        color: black;
    }

    .big-card-container {
        width: 90%;
        border-radius: 1rem;
        box-shadow: 0px 10px 8px #999;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        color:black;
        background-color: white;
        height: fit-content;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 10px;
        border-color: black;
        border-style: solid;

        .big-card-icon{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 10px;
        }
      }

      .main-big-card-container {
        width: 90%;
        border-radius: 1rem;
        box-shadow: 0px 10px 8px #999;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        color: white;
        background-color: white;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: 20px;
        margin-right: 20px;
        border-color: black;
        border-style: solid;

        .main-small-card-container-goals{
          width: 90%;
          border-radius: 1rem;
          box-shadow: 0px 10px 8px #999;
          display: flex;
          flex-direction: column;
          margin: 1rem;
          color: black;
          background-color: antiquewhite;
          height: -moz-fit-content;
          height: fit-content;
          margin-left: 25px;
          margin-bottom: 30px;
          margin-right: 20px;
          padding: 20px;
        }
        
      }

      .big-card-container-goals {
        width: 90%;
        border-radius: 1rem;
        box-shadow: 0px 10px 8px #999;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        color:black;
        background-color: white;
        height: fit-content;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
        border-color: black;
        border-style: solid;
        margin-bottom: 20px;

        .small-card-container-goals {
            width: 100%;
            border-radius: 1rem;
            box-shadow: 0px 10px 8px #999;
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            color:black;
            background-color: antiquewhite;
            height: fit-content;
            margin-left: 2px;
            margin-right: 20px;
            padding: 20px;
    
          }
      }

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.btn {
      background-color: black;
      color: white;
  }

.taskText {
      flex: 1 1;
      color: black;
      /* background-color: green; */
  }

.taskBg {
    background-color: floralwhite;
}
      .big-card-title{
        font-size: 20px;
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 10px;
        color:black;
       display:"flex";
       flex-direction: row;
      }
      .container-todo{
        color:black
      }


      body {
        background-color: #333;
        color: #fff;
      }
      
      .App {
        text-align: center;
      }
      
      .taskBg {
        background-color: floralwhite;
        border-radius: 6px;
        margin-bottom: 20px;
        padding: 10px 140px 10px 15px;
        text-align: left;
        font-size: 22px;
        position: relative;
      }
      
      .taskBg div {
        display: flex;
        align-items: center;
      }
      
      .taskNumber {
        color: #999;
        border: 1px solid #999;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: flex;
        text-align: center;
        font-size: 14px;
        margin-right: 8px;
        align-items: center;
        justify-content: center;
      }
      
      .taskBg .taskText {
        flex: 1;
        font-size: 14px;
      }
      
      .taskBg .done .taskText {
        text-decoration: line-through;
        opacity: 0.3;
        color:black;
        font-family: monospace;
        font-weight: 700;
        font-size: 16px;
      }
      
      .taskBg .iconsWrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        width: auto;
        display: inline-block;
      }
      
      .taskBg .iconsWrap span {
        display: inline-block;
        margin: 0px 10px 0 10px;
        cursor: pointer;
        color: black;
      }
      
      
      .mr-20 {
        margin-right: 20px;
      }
      
  }
  
  
  