
body, html {

  background-color: white;
}




div#root {
  //height: 100%; /* remove this line to see div.app is no more 100% height */
  background-color: white;
  min-width:auto;
  

}

div.app {

  background-color: white;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;

  .react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: white;
  }
   

  .imageIcon{
    width:200px;
    height:200px;
  }
  
  .title{
    font-size:45px;
    margin-top:10px;
    margin-bottom:30px;
    font-weight:700;
    color: "black";
    font-family: monospace;
  }
}


