
body, html {
  
    background-color: white;
  }
  
  
  div#root {
    //height: 100%; /* remove this line to see div.app is no more 100% height */
    background-color: white;
    min-width:auto;
    
  
  }
  
  div.app {
  
    background-color: white;
  }
  
  .finance-space-container{
    margin-top:500px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-bottom: 100px;

    .big-card-container {
        width: 90%;
        border-radius: 1rem;
        box-shadow: 0px 10px 8px #999;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        color:white;
        background-color: white;
        height: fit-content;
        margin-left: 20px;
        margin-right: 20px;
        padding:20px;
        border-color: black;
        border-style: solid;
        color:black;
        font-family: monospace;

        .big-card-title{
            font-size: 20px;
            font-weight: 900;
            margin-top: 10px;
            margin-bottom: 10px;
           display:"flex";
           flex-direction: row;
          }

        .small-card-container-goals {
            width: 95%;
            border-radius: 1rem;
            box-shadow: 0px 10px 8px antiquewhite;
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            color:black;
            background-color: antiquewhite;
            height: fit-content;
            margin-left: 12px;
            margin-bottom: 30px;
            margin-right: 20px;
            padding: 20px;
    
          }
        .small-card-title{
          font-size: 18px;
        }
        .input-general-error{
          margin-right: 210px;
          margin-top: 2px;
          margin-bottom: 30px;
          color: darkred;
      }
      }
    
  }